{% extends 'partials/base.html.twig' %}

{% block content %}
  {{ page.content }}
  <div class="blog-articles">
    {% set collection = page.collection() %}
    {% for child in collection %}
      {% include 'partials/article.html.twig' with {'blog':page, 'page':child} %}
    {% endfor %}
  </div>
{% endblock %}
